.spots-container {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    top: 80px;
    /* height: 100%; */
    /* border: 4px solid red; */
    width: 100%;
    justify-content: center;
}

.spot-box {
    display: flex;
    flex-direction: column;
    width: 275px;
    /* height: 70%; */
    box-sizing: border-box;
    /* margin: 10px; */
    padding: 1%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.spot-image {
    display: flex;
    height: 100%;
    width: 100%;
    justify-self: center;
    border-radius: 4%;
    cursor: pointer;
}

.spot-info {
    display: flex;
    justify-self: flex-start;
    font-size: 15px;
}

#spot-price {
    font-weight: 600;
}

#spot-header {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

#spot-details {
    cursor: pointer;
    display: flex;
    gap: 2%;
}


.spot-name {
    display: flex;
    justify-self: flex-start;
    font-weight: 600;
    font-size: 15px;
    box-sizing: border-box;
}

#rating {
    font-size: 15px;
    font-weight: 200;
    box-sizing: border-box;
}

#spot-location {
    color: gray;
    font-weight: 200;
    position: relative;
    height: 100%;
}

#middle-text {
    display: flex;
    align-items: center;
}

#spot-price {
    font-weight: 700;
}
