#center-container {
    display: flex;
    position: absolute;
    width: calc(100% - 12.5%);
    top: 100px;
    height: calc(100% - 100px);
    left: 12.5%;
    margin: auto;
    /* justify-self: center; */
}

#spot-detail-container {
    position: absolute;
    width: calc(100% - 12.5%);
}

#avgRating {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    margin-top: 1%;
    margin-bottom: 2%;
}

.spot-img {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.img-preview {
    width: 560px;
    height: 560px;

}


#spot-name {
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    box-sizing: border-box;
    height: 50%;
}

.header-info {
    position: relative;
    top: -10px;
    height: 100%;
    padding-top: 0px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
}

#city-country-text {
    text-decoration: underline;
}

.description-box {
    margin-top: 2%;
    margin-bottom: 3%;

}

#home-owner-text {
    font-size: 22px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;

}

#guests-text {
    font-family: 'Poppins', sans-serif;
    margin-top: 1%;
    margin-bottom: 2%;
}

.hr-line {
    opacity: 40%;
}

#description-text {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    overflow-wrap: break-word;
}

#about {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 600;
}

#reviews-box {
    display: flex;

}

.review-item {
    width: 50%;
    font-family: 'Poppins', sans-serif;
}

#star-date {
    width: 70%;
    display: flex;
    justify-content: space-between;
}

.review-info {
    padding-bottom: 5px;
    padding-top: 5px;
    overflow-wrap: break-word;
}
