#center-container {
    display: flex;
    position: absolute;
    width: 100%;
    justify-content: center;
    margin: auto;
}

#spot-detail-container {
    position: absolute;
    width: 80%;
    margin-top: 5rem;
}

#avgRating {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    margin-top: 1%;
    margin-bottom: 2%;
}

.spot-img {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.img-preview {
    width: 30rem;
    height: 30rem;
}


#spot-name {
    font-size: 26px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    box-sizing: border-box;
    height: 3rem;
}

.header-info {
    position: relative;
    top: -10px;
    height: 100%;
    padding-top: 0px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
}

#city-country-text {
    text-decoration: underline;
}

.body-container {
    display: flex;
    justify-content: space-between;
    gap: 6rem;
    margin-top: 1rem;
    margin-bottom: 2.5rem;
    position: relative;
}

.description-container {
    width: 100%;
}

.description-box {
    margin-bottom: 1rem;
}

#home-owner-text {
    font-size: 22px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;

}

#guests-text {
    font-family: 'Poppins', sans-serif;
    margin-top: 1%;
    margin-bottom: 2%;
}

.hr-line {
    opacity: 40%;
}

#description-text {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    overflow-wrap: break-word;
}

#about {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 600;
}

#reviews-box {
    display: flex;
    flex-wrap: wrap;
}

.review-item {
    width: 50%;
    font-family: 'Poppins', sans-serif;
}

#star-date {
    width: 70%;
    display: flex;
    justify-content: space-between;
}

.review-info {
    padding-bottom: 5px;
    padding-top: 5px;
    overflow-wrap: break-word;
}

textarea {
    resize: none;
}

#review-input {
    overflow-y: auto;
    width: 99%;
}

#create-review-box {
    overflow-y: auto;
    overflow-x: hidden;
}
