.bookingsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 27rem;
    height: fit-content;
    /* border: #DDDDDD 0.12rem solid; */
    border-radius: 8px;
    box-shadow: 0px 0px 10px #DDDDDD;
    position: sticky;
    top: 8.5rem;
}

.headerContainer {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    align-items: center;
    padding: 1.5rem 0rem 0rem 0rem;
    width: 85%;
}

.price {
    font-size: 20px;
    font-weight: 500;
}

.price > span {
    font-size: 17px;
    font-weight: 300;
}

.reviewInfo {
    font-size: 13px;
}

.formContainer {
    height: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85%;
}

.formContainer > form {
    /* border: 1px #cccccc solid; */
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

.inputContainer {
    border: #BBBBBB 2px solid;
    border-radius: 4px;
    /* padding-top: 2rem;
    padding-bottom: 2rem; */
    display: flex;
}

.startDateInput {
    padding: 0.5rem;
    border: none;
    border-radius: 4px;
}

.endDateInput {
    padding: 0.5rem;
    border: none;
    border-radius: 4px;
}

.buttonContainer {
    display: flex;
    justify-content: center;
}

.buttonContainer > button {
    background-color: #ff385c;
    color: white;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    width: 100%;
    transition: background-color 75ms;
}

.buttonContainer > button:hover {
    background-color: #cd3450;
}

.calcContainer {
    width: 85%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 13px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.calcDiv {
    display: flex;
    justify-content: space-between;
}

.calcText {
    text-decoration: underline;
}

.totalContainer {
    width: 85%;
    font-size: 14px;
    font-weight: 500;
    margin-top: 1rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
}

.successfulBooking {
    text-align: center;
    width: 80%;
    font-weight: 500;
    color: #01c24e;
    margin-bottom: 0.5rem
}

.error {
    color: #fd1641;
    font-size: 14px;
    margin-bottom: 0.5rem;
    text-align: center;
    width: 85%;
}
