.listing-menu {
    position: relative;
    top: 10%;
}

.hosting-box {
    position: relative;
    top: 100px;
    width: 80%;
    /* display: flex;
    flex-direction: column; */
}

.buttons {
    background-color: #ff385c;
    color: white;
    font-weight: 600;
    font-size: 13px;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 10px;
    margin-left: 0px;
}

.buttons:hover {
    background-color: #c52b48;
    cursor: pointer;
}


#welcome-user-box {
    display: flex;
    font-weight: 800;
    font-size: 25px;
}

#create-listing-box {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

#create-button {
    background-color: rgb(235, 235, 235);
    border-radius: 5px;
    padding: 10px 20px;
    font-weight: 600;
    font-size: 16px;
    box-shadow: 0px 1px 3px rgb(187, 187, 187);
    border: none;
    /* border:rgb(187, 187, 187) solid 2px; */
}

#create-button:hover {
    background-color: rgb(187, 187, 187);
    /* border: rgb(142, 142, 142) solid 2px; */
    cursor: pointer;
    box-shadow: 0px 2px 3px rgb(142, 142, 142);
}

.user-spot-div {
    display: flex;
    align-items: center;
}

.spot-name-text {
    font-weight: 600;
    font-size: 20px;
    cursor: pointer;
    margin-right: 20px;
    color: darkblue;
    text-decoration: underline;
}

.spot-name-text:hover {
    text-decoration: underline;
    color: rgb(64, 64, 234);
}

#your-listings-text {
    font-weight: 600;
    font-size: 25px;
    margin-bottom: 0.5rem;
}

.bookings-container {
    /* border: #c52b48 solid 1px; */
    margin-top: 1rem;
    margin-bottom: 4rem;
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    height: fit-content;
}

.booking-card {
    width: 25rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.booking-info {
    font-size: 18px;

}

.booking-img-container {
    width: fit-content;
    height: fit-content;
}

.booking-img-container > img{
    width: 24rem;
    height: 15rem;

}

.dates-container > span {
    font-weight: 600;
    color: #ff385c;
    text-decoration: overline;
}
