#form{
    height: fit-content;
    width: 568px;
}

#header-text {
    margin-top: 25px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    font-weight: 600;
}

#form-container {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.spot-form {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    width: 85%;
}

#input-list {
    border-radius: 5px;
    border: 2px solid rgb(156, 156, 156);
    display: flex;
    flex-direction: column;
}

.hr-line {
    opacity: 40%;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}


.input-line {
    width: 95%;
    border-radius: 5px;
    border: 2px solid rgb(255, 56, 92, 0);
    outline: none;
    font-size: 16px;
}

.input-line:focus {
    border: 2px solid #ff385c;
}

.input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    padding-bottom: 10px;
    border-bottom: rgb(156, 156, 156, 0.4) 1px solid;
}

#form-submit {
    margin-top: 20px;
    border: none;
    background-color: #000000;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    padding: 15px 5px;
    width: 30%;
    font-size: 17px;
}

#form-submit:hover {
    cursor: pointer;
    background-color: #333333;
}

#description-input {
    height: 100px;
}

@media screen and (max-width: 680px) {
    #form {
        width: 30rem;
    }
}

@media screen and (max-width: 550px) {
    #form {
        width: 20rem;
    }

    #form-submit {
        width: 50%;
    }
}
