/* TO DO ADD STYLING*/
.navbar {
    box-sizing: border-box;
    position: fixed;
    top: 0;
    display: flex;
    width: 88%;
    height: 78.3px;
    background-color: white;
    justify-content: space-between;
}

.iconContainer {
    display: flex;
    justify-items: center;
    align-items: center;
    /* width: 33%; */
    position: relative;
    left: 1%;
    gap: 4px;
    /* top: 2.25%; */
}

.overnightsns {
    text-decoration: none;
    color: #ff385c;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: larger;
}

.bookingBox {
    display: flex;
    flex-direction: row;
    /* width: 33%; */
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 10.5px;
    left: 33%;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    box-shadow: 0px 0px 3px rgb(174, 174, 174);
    border-radius: 10%;
}

.userBox {
    /* width: 33%; */
    display: flex;
    justify-self: center;
    align-items: center;
}

.profile-button {
    /* border: rgb(218, 218, 218) 0.5px solid; */
    border: none;
    box-shadow: 0px 0px 3px rgb(174, 174, 174);
    position: relative;
    background-color: white;
    border-radius: 25px;
    padding: 10px;
    width: 80px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    transition: box-shadow 0.15s;
}

.profile-button:hover {
    box-shadow: 0px 1px 6px gray;
}

#logged-in-user-icon {
    font-size: 20px;
    position: relative;
    top: 40%;
    right: 3%;
    border: 2px solid black;
    padding: 3px;
    border-radius: 50%;
    background-color: rgb(177, 177, 177);
}

#not-logged-in-user-icon {
    font-size: 20px;
    position: relative;
    top: 40%;
    right: 3%;
    border: 2px solid black;
    padding: 3px;
    border-radius: 50%;
}

#bars-icon {
    font-size: 15px;
    position: relative;
    left: 5%;
}

.profile-dropdown {
    position: fixed;
    right: 6%;
    top: 6%;
    list-style-type: none;
    display: flex;
    align-items: center;
}

.form-button {
    width: 96%;
    border: none;
    text-align: left;
    height: 25%;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 15px;
    background-color: transparent;
    /* border-radius: 10%; */
    position: relative;
    left: 5px;
    top: 5px;
    cursor: pointer;
}

.form-button:hover {
    background-color: rgb(236, 236, 236);
}

#signup-button {
    height: 100%;
    width: 100%;
    position: relative;
    left: 0;
    font-weight: 800;
    text-indent: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-bottom: 0%;
}

#login-button {
    width: 100%;
    height: 100%;
    position: relative;
    left: 0;
    text-indent: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-top: 0;
}

.button-holder {
    border-radius: 5%;
    background-color: white;
    height: 243px;
    width: 240px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px -1px 2px gray;
    /* box-shadow: 0px 1px 2px gray; */
}

.dropdown-text {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 15px;
    height: 50px;
    position: relative;
    left: 15px;
}

#manage-listings {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 15px;
    /* height: 50px; */
    width: 100%;
    height: 22%;
    /* position: relative;
    left: 0; */
    /* text-align: center; */
    cursor: pointer;
    /* text-indent: 5%; */
    /* display: flex; */
    /* align-items: center; */

}

#hosting-box {
    display: flex;
    position: relative;
    height: 50%;
    width: 70%;
    border-radius: 40px;
    right: 5%;
    justify-content: center;
}

#button-box {
    width: 30%;
}

#hosting-link {
    color: #222222;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    text-decoration: none;
    box-sizing: border-box;
    margin: 1%;
    padding: 1%;
    align-self: center;
    /* width: 40%; */
}

#hosting-box:hover {
    background-color: rgb(246, 246, 246);
}

.user-text {
    font-family: 'Poppins', sans-serif;

    padding: 1%;
    padding-bottom: 0;
}


.list-item {
    height: 15%;
    margin-bottom: 3%;
}

#listing-box {
    position: relative;
    left: 0;
    height: 20%;
    margin-bottom: 7%;
}

.logout-box {
    position: relative;
    left: 0;
}
