/* TO DO ADD STYLING*/
.navbar {
    box-sizing: border-box;
    position: fixed;
    top: 0;
    display: flex;
    width: 100%;
    height: 5rem;
    background-color: white;
    justify-content: space-between;
    border-bottom: #CCCCCC 1px solid;
}


.iconContainer {
    display: flex;
    justify-items: center;
    align-items: center;
    position: relative;
    gap: 4px;
    margin-left: 3rem;
}

.overnightsns {
    text-decoration: none;
    color: #ff385c;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: larger;
}

.bookingBox {
    display: flex;
    flex-direction: row;
    /* width: 33%; */
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 10.5px;
    left: 33%;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    box-shadow: 0px 0px 3px rgb(174, 174, 174);
    border-radius: 10%;
}

.userBox {
    /* width: 33%; */
    display: flex;
    justify-self: center;
    align-items: center;
    background-color: white;
    margin-right: 3rem;
}

.profile-button {
    /* border: rgb(218, 218, 218) 0.5px solid; */
    border: none;
    box-shadow: 0px 0px 3px rgb(174, 174, 174);
    position: relative;
    background-color: white;
    border-radius: 25px;
    padding: 10px;
    width: 80px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    transition: box-shadow 0.15s;
}

.profile-button:hover {
    box-shadow: 0px 1px 6px gray;
}

#logged-in-user-icon {
    font-size: 20px;
    position: relative;
    top: 40%;
    right: 3%;
    border: 2px solid black;
    padding: 3px;
    border-radius: 50%;
    background-color: rgb(177, 177, 177);
}

#not-logged-in-user-icon {
    font-size: 20px;
    position: relative;
    top: 40%;
    right: 3%;
    border: 2px solid black;
    padding: 3px;
    border-radius: 50%;
}

#bars-icon {
    font-size: 15px;
    position: relative;
    left: 5%;
}

#logged-in-dropdown {
    position: fixed;
    right: 50px;
    top: 75px;
}

.signed-out-dropdown {
    position: fixed;
    right: 50px;
    top: 75px;
}
.profile-dropdown {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 3px gray;
    border-radius: 12px;
    background-color: white;
    width: 175px;
}

.login-dropdown-item {
    display: flex;
    justify-content: flex-start;
}

.signup-dropdown-item {
    display: flex;
    justify-content: flex-start;
    padding: 10px;
}

.login-item {
    position: relative;
    left: 10px;
    padding: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#login-linebreak {
    opacity: 40%;
}

.form-button {
    width: 96%;
    border: none;
    text-align: left;
    height: 25%;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 15px;
    background-color: transparent;
    /* border-radius: 10%; */
    position: relative;
    left: 5px;
    top: 5px;
    cursor: pointer;
}

.form-button:hover {
    background-color: rgb(241, 241, 241);
}

#signup-button {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

#signup-button:hover {
    background-color: rgb(229, 229, 229);
    cursor: pointer;
}

#login-button {
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

#login-button:hover {
    background-color: rgb(229, 229, 229);
    cursor: pointer;
}

#manage-listings:hover {
    background-color: rgb(229, 229, 229);
    cursor: pointer;
}

#logout-button {
    width: 100%;
    cursor: pointer;
}

#logout-button:hover {
    background-color: rgb(229, 229, 229);
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

#hosting-box {
    display: flex;
    position: relative;
    height: 50%;
    width: 70%;
    border-radius: 40px;
    right: 5%;
    justify-content: center;
}

#button-box {
    width: 30%;
}

#hosting-link {
    color: #222222;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    text-decoration: none;
    box-sizing: border-box;
    margin: 1%;
    padding: 1%;
    align-self: center;
    /* width: 40%; */
}

#hosting-box:hover {
    background-color: rgb(246, 246, 246);
}

.user-text {
    font-family: 'Poppins', sans-serif;
    padding: 1%;
    padding-bottom: 0;
}


.list-item {
    height: 15%;
    margin-bottom: 3%;
}

#listing-box {
    position: relative;
    left: 0;
    height: 20%;
    margin-bottom: 7%;
}

.logout-box {
    position: relative;
    left: 0;
}

@media screen and (max-width: 550px) {

    #hosting-box {
        display: none;
    }

    .userBox {
        margin-right: 1rem;
    }

    .iconContainer {
        margin-left: 2rem;
    }
}
