/* TO DO ADD STYLING*/
.navbar {
    height: 82px;
    box-sizing: border-box;
    position: sticky;
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
}

.icon {
    position: relative;
    left: 15px;
    top: 10px;
}

.iconContainer {
    justify-items: center;
    align-items: center;
    width: 33%;
}

.overnightsns {
    position: relative;
    left: 20px;
    top: 0px;
    text-decoration: none;
    color: #ff385c;
    font-family: 'Poppins', sans-serif;
    font-weight: 1000;
    font-size: larger;
}

.bookingBox {
    flex-direction: row;
    width: 33%;
}

.userBox {
    width: 33%;

}

.profile-button {
    border: rgb(218, 218, 218) 0.5px solid;
    position: fixed;
    top: 4%;
    right: 4%;
    background-color: white;
    border-radius: 33%;
    padding: 10px;
    width: 75px;
}

#user-icon {
    font-size: 25px;
    position: relative;
    top: 40%;
}
