/* TO-DO: ADD STYLING TO LOGIN PAGE */
.login-box {
    display: flex;
    height: 50vw;
    width: 50vw;
    border-radius: 50px;
    border: 3px solid black;
}

.form {
    background-color: transparent;
}
